@font-face {
  font-family: openSansRegular;
  src: url(/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: openSansBold;
  src: url(/fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: openSansLight;
  src: url(/fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: openSansSemibold;
  src: url(/fonts/OpenSans-Semibold.ttf);
}
@font-face {
  font-family: openSansExtrabold;
  src: url(/fonts/OpenSans-ExtraBold.ttf);
}

/*header*/
.pageStyle {
  font-family: openSansRegular, Arial, Helvetica, sans-serif;
  margin-left: 160px;
  margin-right: 160px;
  background-color: #eeeeee;
  width: auto;
}
.header {
  background-color: #006cba;
  border-radius: 15px;
  color: #fff;
  margin-right:-160px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.header .content {
  margin-left: 32px;
  padding-top: 33px;
}
.header .content h2 {
  font-size: 20px;
  font-weight: normal;
  margin-top: 0px;
  margin-bottom: 0px;
}
.header .content h1 {
  font-size: 25px;
  font-family: openSansBold;
  margin-top: 0px;
  margin-bottom: 40px;
}
.rectangles {
  display: block;
}
.header .content .rectangleLeft {
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
  padding: 25px;
  margin-right: 25px;
  float: left;
  width: 58%;
  font-size: 14px;
  letter-spacing: 2x;

}
.header .content .rectangleLeft input {
  width: 600px;
  background: transparent;
  border: none;
  text-transform: uppercase;
}
::-webkit-input-placeholder {
    color:    #fff;
}
:-moz-placeholder {
    color:    #fff;
}
:-ms-input-placeholder {
    color:    #fff;
}
.header .content .rectangleRight {
  float: left;
  /*border-radius: 10px;
  border-style: solid;
  border-width: thin;;
  padding: 25px;
  float: left;
  font-size: 12px;
  width: 14%;
  letter-spacing: 12x;*/
}
.header .content .rectangleRight button {
  text-transform: uppercase;
  background-color: Transparent;    
  color: #fff;
  text-shadow: none;
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
  padding-left: 28px;
  padding-right: 28px;
  opacity: unset;
  height: 73px;
}
.information {
  clear: both;
  padding-top:30px;
  padding-bottom: 30px;
  font-size: 12px;
}
.information .fa-exclamation {
  float: left;
  margin-right: 10px;
}
.information .mark {
  float: left;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: transparent;
}
.header .paragraph {
  clear:both;
  font-size: 12px;
  color: #b8cce5;
  padding-bottom: 35px;
  width: 743px;
}

/*body buttons section*/
.buttonsSection {
  margin-top: 65px;
}
.buttons {
  border-radius: 10px;
  border-style: solid;
  background-color: #fff;
  border-color: #fff;
  margin-left: 10px;
}
.favourite {
  color: #c01d2a;
  height: 38px;
  float: left;
  margin-left:0px;
}
.favourite .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.favourite .fa-heart-o {
  padding-top: 5px;
  float: left;
  padding-right: 20px;
  /*padding-left: 10px;*/
  font-weight: bold;
}
.favourite .btn-default {
  color: #c01d2a;
} 
.favourite button .topText {
  width: 120px;
}
.topText {
  font-size: 8px;
  text-transform: uppercase;
}
.bottomText {
  font-size: 10px;
  text-transform: uppercase;
}
.sort {
  width: 225px;
  height: 38px;
  float: right;
}
.btn {
  border-radius: 10px;
  border-style: solid;
  height: 37px;
}
.btn-default {
  border-color:white;
  background-image: none;
  text-align: left;
}
.dropdown-toggle {
  border-left-color: #F0F0F0;
} 
.display {
  width: 130px;
  height: 38px;
  float: right;
}
.viewTiles {
  float: right;
}
.viewTiles button {
  width: 40px;
  height: 38px;
}
.viewList {
  float: right;
  margin-left: 5px;
}
.viewList button {
  width: 40px;
  height: 38px;
  margin-left: 10px;
}
.glyphicon {
  margin-left: -1px;
  font-size: 20px;
  color: #8F8F8F;
}
.glyphicon-th-list {
  margin-left: -3px;
}
.btn-default:hover {
  border-color: #fff;
}

/*body elements*/

.elements {
  clear: both;
  padding-top: 18px;
}
.tile {
  width: 335px;
  height: 425px;
  background-color: #fff;
  border-radius: 15px;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 32px;
  position: relative;
}
.thumbTile {
  width: 335px;
  height: 208px;
  /*background-image: url("/images/miniatura_kafelki.png")*/
}
.text {
  text-transform: uppercase;
}
.tile .text {
  padding-left: 18px;
  padding-right: 18px;
}
.tile .paragraph {
  font-family: openSansLight;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 50px;
}
.date {
  font-family: openSansSemibold;
  font-size: 11px;
  float: left;
}
.numberOfDisplays {
  font-size: 11px;
  float: right;
}
.blueLine {
  float: left;
}


greyLine {
  float: right;
}
.like {
  float: left;
  font-size: 10px;
  padding-left:20px;
  padding-right:10px;
}
.dislike {
  float: left;
  font-size: 10px;
  padding-bottom: 24px;
  
}
.button {
  background-color: #006cba;
  border-radius: 15px;
  color: #fff;
  clear:both;
  width: 192px;
  font-family: openSansExtrabold;
  font-size: 10px;
  text-align: center;
  padding-bottom: 12px;
  padding-top: 12px;
  margin:auto;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.tiles .tile .fa {
  position: absolute;
  bottom: 37px;
  right: 35px;
  color: #979797;
}
.paragraph {
  text-transform: none;
}
.pagination-sm {
  text-align: center;  
  position: absolute;
  left:50%;
  margin-right: -50%;
  transform: translate(-50%);
  width: auto;
  display: inline-block;
  
}
.paginationElement {
  width: 40px;
  display: inline-block;
  border: 0px;
  text-align: center;
  padding-bottom: 12px;
  padding-top: 12px;
  font-size: 12px;
}
.pagination>li {
  border: 0px;
  display: inline-block;
  border-radius: 10px;
}
.pagination-sm>li>a, .pagination-sm>li>span {
  border-radius: 10px;
  width: 40px;
  height: 40px;  
  border: 0px;
  margin-right: 13px;
  padding-top: 12px;
  color: black;
}
.pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span {
  border-radius: 10px;
}
.pagination-sm>li:last-child>a, .pagination-sm>li:last-child>span {
 border-radius: 10px; 
}
.pagination>li>a:focus, .pagination>li>a:hover, {
  background-color: lightgrey;
}

.footer {
  font-size: 12px;
  margin-top: 140px;
}
.footerLine {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
.clearLibrary {
  margin-top:18px;
  margin-left: 20px;
  color: #979797;
}
.footer .logo {
  /*padding:73px 0px;*/
  margin-top: 70px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  height: 63px;
  background-image: url("/images/logo.png");
  background-repeat: no-repeat;
}
.show {
  display:block;
}
.hide {
  display: none;
}
.listContentLeft {
  float: left;
  width: 40%;
}
.listElement {
  background-color: #fff;
  border-radius: 15px;
  display: block;
  height: 130px;
  font-family: openSansLight;
  margin-bottom: 22px;

}
.listElement .thumbList {
  float: left;
  margin-right: 34px;
  /*width: 130px;
  height: 130px;*/
  /*background-image: url("/images/miniatura_lista.png");*/
}
.listElement .paragraph {
  padding-top: 22px;
  font-size: 18px;
  padding-bottom: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
}
.tile .paragraph {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
}
.listElement .numberOfDisplaysList {
  float: left;
  font-size: 11px;
  padding-left: 40px;

}
.listElement .blueLineList {
  float: left;
  margin-right: 0px;
}
.listElement .greyLineList {
  float: left;
}
.margin {
  padding-left:20px;
}
.likeList {
  float: left;
  font-size: 10px;
  padding-right:10px;
}
.dislikeList {
  float: left;
  font-size: 10px;
}
.listContentRight {
  float:left;
  padding-left: 76px;
  width: auto;
}
.listContentRight .fa {
  float: left;
  padding-top: 57px;
  color: #979797;
  
}
.listContentRight .fa-trash-o {
  float: right;
 
}
.buttonList {
  background-color: #006cba;
  border-radius: 15px;
  color: #fff;
  width: 192px;
  font-family: openSansExtrabold;
  font-size: 10px;
  text-align: center;
  padding-bottom: 12px;
  padding-top: 12px;
  margin-top: 45px;
  margin-left:27px;
  margin-right: 27px;
  text-transform: uppercase;
  letter-spacing: 2px;
  float: left;
}
.buttonTile {
  background-color: #006cba;
  border-radius: 15px;
  color: #fff;
  width: 192px;
  font-family: openSansExtrabold;
  font-size: 10px;
  text-align: center;
  padding-bottom: 12px;
  padding-top: 12px;
  margin-top: 5px;
  margin-left:27px;
  margin-right: 27px;
  text-transform: uppercase;
  letter-spacing: 2px;
  
}
.btn-primary {
 background-image: none; 
}

@media (min-width: 481px) and (max-width:1320px) {
  .pageStyle {
    margin-left: 180px;
    margin-right: 180px;
  }
  .header {
    margin-left: -60px;
    margin-right: -180px;
  }
  .elements {
    padding-top: 18px;
  }
  .listElement {
    margin-top: 55px;
    height: 287px;
    padding-bottom: 10px;
    padding-top: 18px;
    position: relative;
  }
  .thumbList {
    position: absolute;
    left:50%;
    margin-right: -50%;
    transform: translate(-50%, -35%);
  }
  .listContentLeft {
    position: absolute;
    left:50%;
    margin-right: -50%;
    transform: translate(-50%, 70%);
    width: auto;

  }
  .paragraph {
    text-align: center;
  }
  .listElement .listContentLeft .date {
    margin-left: 60px;
  }
  .listElement .listContentLeft .blueLineList {
    margin-left: 0px;
  }
  .likeList {
    margin-left: 45px;
  }
  .listContentRight {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    margin-top: 200px;
    padding-left: 0px;
  }
  .buttonList {
    margin-top: 10px;
  }
  .listContentRight .fa {
    padding-top: 21px;
  }
  .header .content .rectangleLeft {
    width: 820px;
  }
  .header .content .rectangleRight {
    float: right;
    margin-top: 10px;
    margin-right: 193px;
  }
  .rectangles {
    position: relative;
  }
  .rectangles .rectangleRight {
    position: absolute;
    top:70px;
    left: 657px;
  }
  .information {
    float: left;
    padding-bottom: 6px;
    
  }
  .header .paragraph {
    width: 600px;
    text-align: left;
  }
  .big {
    width: 500px;
    height: 500px;  
  }


}

@media (max-width: 480px) {
  .pageStyle {
    margin-left: 0px;
    margin-right: 0px;
    width: 480px;
  }
  .header {
    background-color: #006cba;
    color: #fff;
    border-radius: 0px;
    margin: 0px;
  }
  .header .content {
    margin-left: 32px;
    /*margin-right: 32px;*/
  }
  .header .content .rectangleLeft {
    width: 90%;
    padding:25px;
    margin-bottom: 15px;
    text-align: center;
    
  }
  .header .content .rectangleRight {
    width: 90%;
    text-align: center;
    float: none;
  }
  .header .content .rectangleRight button {
    padding-left: 148px;
    padding-right: 148px;
  }
  .header .content .rectangleLeft input {
    width:90%;
  }
  .header .paragraph {
    margin-top: 45px;
    width: 430px;
    margin-top: 10px;
  }
  .display {
    width: 340px;
    float: left;
    margin-left: 75px;
    margin-bottom: 10px;
  }
  .sort {
    width: 340px;
    float: left;
    margin-left: 75px;
  }
  .sort button {
    padding-right:142px;
  }
  .favourite {
    margin-left: 75px;
    margin-bottom: 10px;
  }
  .buttonsSection {
    margin-top: 25px;
  }
  .viewList {
    margin-right: 67px;
  }
  .buttons {
    border-style: solid;

  }
  .tile {
    margin-left: 75px;
    position: relative;
  }
  .contentMargin {
    padding-left: 0;
  }
  .tile .bin {
    position: absolute;
    bottom: 40px;
    right: 36px;
  }
  .dislike {
    padding-bottom: 20px;
    
  }
  .clearLibrary {
    text-align: center;
  }
  .listElement {
    height: 317px;
    margin-top: 50px;
    
  }
  .thumbList {
    margin-left: 145px;
    margin-top: -30px;
  }

  .listElement .paragraph {
    width: 357px;
    margin-left: 66px;
    text-align: center;
  }
  .listElement .date {
    margin-left: 100px;
  }
  .blueLineList {
    margin-left: 55px;
  }
  .likeList {
    margin-left: 57px;
  }
  .listContentLeft {
    width: auto;
  }
  .listContentRight {
    margin-top: 20px;
    /*margin-left*/
  }
  .listContentRight img {
    padding-top: 0px;
  }
  .listContentRight .fa {
    padding-top: 22px;
  }
  .display button {
    padding-right: 235px;
  }
  .glyphicon {
    margin-left: -2px;
    margin-top: 0px;  
  }
  .tile .paragraph {
    text-align: center;
  }
  .buttonList {
    margin-top: 10px;
  }
  .myPagination .pagination{
    padding-left: 35px;
  }

  
}
